/* styles for report component */

//import base styles scss

$base-header-font: 'Distant_Galaxy', sans-serif;
$base-font: 'Aaargh', sans-serif;
$base-font-size: 16px;
$mobile-background-color: #aa98a9;
$base-background-colour: #aa98a9;
$base-text-colour: #784040;
$background-colour: #ff4500;
$button-hover-colour: #8B5742;
$form-control-background-colour: lightgray;
$form-control-invalid-colour: red;
.encounter-form {
    color: white;
    background-color: black;
    width: 100%;
}
.section-heading, .section-sub-heading, .checkin {
    text-align: center;
}
:host {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 500px) {
        padding-top: 3rem;
    }
}

main {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    width: 500px;
    background-color: $background-colour;

    h1 {
        margin: 1rem 0 1rem 0;
    }

    h2 {
        margin-bottom: .5rem;
    }

    .button {
        &:hover {
            color: #8B5742;
        }
        a {
            text-decoration: none;
            color:white;
        }
    }

    form {
        margin: 1rem 0 1rem 0;
        width: 700px;

        label, input, select, button, textarea {
            font-family: roboto sans-serif;
            width: 100%;
            padding: 0.5rem;
            
            border-radius: 5px;
        }

        input, select, button, textarea {
            margin-bottom: 1rem;
            border: 1px solid #784040;; 
        }

        input, select, textarea {
            background-color: white;
            font-size: 0.75rem;
             
        }
        select {
            background-color: black;
            outline: none;
            border:0;
            border-bottom: 1px solid white;
            color: red;
            -webkit-appearance: none;
            -moz-appearance: none;
            box-sizing: border-box;
        }

        select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched { //.ng-dirty
            border-color: red;
        }

        label {
            display: block;
            text-align: left;
            padding-bottom: 0.25rem;
        }

        select {
            height: 35px;
            box-sizing: border-box;
            outline: none;
        }
            
        button {
            font-size: 1rem; 
            margin-top: 1.5rem;
            font-family: $base-header-font;
            width: 50%;
            background-color: black;
            border: 0;
            
            color: $form-control-background-colour;
            letter-spacing: 1px;

            &:hover {
                background-color: #8B5742;
                color: white;
            }
        }

        /*.ng-invalid {
            border-color: $form-control-invalid-colour;
        }*/
    }
}



