// variables
$header-font: 'Roboto', sans-serif;
$main-font: 'Roboto', sans-serif;
$font-size: 16px;
$mobile-bg-color: #aa98a9;
$main-bg-colour: #aa98a9;
$black-bg-color: black;
$main-text-colour: #784040;
$bg-colour: rosybrown;
$btn-hover-colour: #8B5742;
$form-control-bg-colour: lightgray;
$form-control-invalid-colour: red;

