html, body {
    // width: 100%;
    // height: 100%;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
    font-size: 18px;
}


.welcome-page {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: -webkit-linear-gradient(rgba(0,0,0,.8),rgba(237,67,67,.7)),url(https://upload.wikimedia.org/wikipedia/commons/c/cd/Mars_atmosphere_2.jpg);
    background: linear-gradient(rgba(0,0,0,.8),rgba(237,67,67,.7)),url(https://upload.wikimedia.org/wikipedia/commons/c/cd/Mars_atmosphere_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-heading {
    color: white;
    margin-bottom: 100px;
    width: 616px;
    h1 {
        font-size: 2rem;
    }
}
.user-message {
    color:white;
    margin-top: 100px;
    width: 616px;
    font-size: 1.8rem;
}
.welcome-page {
    margin: 0 auto;
    height: 100vh;
}
.container {
    width: 616px;
    max-width:616px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.welcome-page .enter-button a {
    display: block;
    width: 75px;
    height: 75px;
    background: rgba(237,237,237,.2);
    opacity: .2;
    border-radius: 50%;
    -webkit-animation: border-pulse 2s infinite;
    animation: border-pulse 2s infinite;
}
.enter-button {
    background-color: transparent;
    outline: none;
    background-repeat: no-repeat;
    opacity: 10%;
    animation: border-pulse 2s infinite;
    width: 75px;
    height: 75px;
    border-radius: 45%;
}

@keyframes border-pulse {
    0% {
        box-shadow: 0 0 0 1rem rgba(255,255,255,.1), 0 0 0 2rem rgba(255,255,255,.15), 0 0 0 3rem rgba(255,255,255,.2);
    }

    50% {
        box-shadow: 0 0 0 1.25rem rgba(255,255,255,.1), 0 0 0 2.75rem rgba(255,255,255,.1), 0 0 0 4rem rgba(255,255,255,0);
    }

    75% {
        box-shadow: 0 0 0 1.5rem rgba(255,255,255,.1), 0 0 0 3rem rgba(255,255,255,0), 0 0 0 5rem rgba(255,255,255,0);
    }

    100% {
        box-shadow: 0 0 0 1.75rem rgba(255,255,255,0), 0 0 0 3.75rem rgba(255,255,255,0), 0 0 0 6rem rgba(255,255,255,0);
    }
}