


<div class="register">
  
  <div class="container">
    <div class="sub-heading"><h1>Register</h1></div>
    <form>
        <fieldset>
            <div class="name">
                <label for="name">Name</label>
                <input id="name" type="text">
            </div>
            <div class="age">
                <label for="age">Age</label>
                <input id="age" type="number">
            </div>
            <div >
            <select  required name="occupation" > 
              <option value="none"> Select an Occupation</option>
            </select>
            <div>
        </fieldset> 

        <fieldset>
            <button type="submit">Check In</button>
        </fieldset>
    </form>
 
  </div>
 
  </div>
