@import '../scss/_theme.scss';
h1 {
    font-size: 2.5rem;
    border-bottom: 2rem;
    text-align: center;
}
form {
    background-color: black;
    font-family: $main-font;
    color: white;
}
input {
    background: $black-bg-color;
    color: red;
    outline: none;
    border: 0;
    border-bottom: 1px solid white;
    margin-bottom: 1.5rem;
    width:100%; 
    font-size: 1.2rem;
}
input, button, select {
    line-height: 1.5rem;
    color: white;

}
input::placeholder {
    color: red;
}

button {
    width: 100%;
    text-align:center;
    cursor: pointer;
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 4rem;
}

select::-ms-expand {
    display: none;
}
select {
    -moz-appearance: none;
    -webkit-appearance:none;
    color:red;
    background:black;
    border:0;
    font-size: 1rem;
    border-bottom: 1px solid white;
    width: 99%;
    border-radius: 0;
     
}
select .ng-untouched.ng-pristine.ng-invalid{
    background: transparent;
    border: none;
    width: 99%;
    border-bottom: 1px solid white;
    font-size: 1rem;
}
@keyframes invalid-error {
    0% {
        box-shadow: 0 0 0 1px darkred;

    }
    100% {
        box-shadow: 0 0 0 1px red;
    }

}
.submitting fieldset .ng-invalid, .submitting div .ng-invalid {
    animation: invalid-error 0.5s infinite;
    border: 1px solid $black-bg-color;
}
.ng-diry.ng-invalid.submitting input {
    animation: invalid-error 0 infinite;
}

fieldset{
    display: flex;
    border: 0;
    button {
        background: transparent;
        outline: none;
        border: 0;
        cursor: pointer;
         
        a {
            color: black; 
            text-decoration: none;
        }
    }
}

// .register-container {
//     background: black;
// }